.todo-panel {
  border: 2px solid rgb(0 0 0 / 13%);
  border-radius: 7px;
  margin: 2rem;
  padding: .75rem;
  background-color: #fff;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__name {
    font-size: 1.75rem;
  }

  &__actions {
    button {
      padding: 0.3em;
      padding-top: .1em;
      padding-bottom: .1em;
      font-size: 1.4em;
    }
  }

  &__editor {
    margin-bottom: 1em;
  }
}