body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  // background: #EECDA3;  /* fallback for old browsers */
  // background: linear-gradient(to right, #EF629F, #EECDA3);
  background: linear-gradient(to right, #36d1dc, #5b86e5);
  //background-color: #00cec9;
  
}